# Nama : Justinus Natanael Bensohur
# NIM : 2602094004

Mengimport library yang dibutuhkan

In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, accuracy_score
import pickle

Proses membaca data_1C, dan melihat beberapa informasi yang dibutuhkan

In [48]:
df = pd.read_csv('data_1C.csv')
df.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,0,29,technician,single,basic.9y,no,yes,no,cellular,nov,wed,648.0,1,999,0,nonexistent,no
1,1,31,admin.,single,university.degree,no,no,no,cellular,aug,wed,295.0,1,999,0,nonexistent,no
2,2,27,blue-collar,single,basic.9y,no,yes,no,telephone,jul,mon,236.0,2,999,0,nonexistent,no
3,3,30,services,married,unknown,no,no,no,telephone,may,wed,143.0,3,999,0,nonexistent,no
4,4,32,technician,married,university.degree,no,no,no,cellular,aug,thu,155.0,1,999,0,nonexistent,no

In [49]:
print(df.shape)

(8237, 17)

In [50]:
df.columns

Index(['Unnamed: 0', 'age', 'job', 'marital', 'education', 'default',
       'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [51]:
df.describe()

,Unnamed: 0,age,duration,campaign,pdays,previous
count,8237.000000,8237.000000,8222.000000,8237.000000,8237.000000,8237.000000
mean,4118.000000,40.000486,260.189370,2.555299,962.352434,0.172393
std,2377.961417,10.331078,254.942835,2.663180,187.221927,0.481973
min,0.000000,17.000000,0.000000,1.000000,0.000000,0.000000
25%,2059.000000,32.000000,103.000000,1.000000,999.000000,0.000000
50%,4118.000000,38.000000,183.000000,2.000000,999.000000,0.000000
75%,6177.000000,47.000000,324.000000,3.000000,999.000000,0.000000
max,8236.000000,98.000000,3284.000000,43.000000,999.000000,6.000000

Dapat dilihat dari data, bahwa terdapat kolom baru yaitu kolom 'Unnamed: 0'. Karena kolom tersebut tidak dibutuhkan dan sama dengan nomor index, kolom dapat di hapus atau di drop, sehingga hanya tersisa kolom yang dibutuhkan. Pada data tersebut, kolom selain 'Unnamed: 0' dibutuhkan untuk mencari probabilitas dari data. Maka dari itu, tidak ada kolom lain yang di drop.

In [52]:
df = df.drop(columns=['Unnamed: 0'])

In [53]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,29,technician,single,basic.9y,no,yes,no,cellular,nov,wed,648.0,1,999,0,nonexistent,no
1,31,admin.,single,university.degree,no,no,no,cellular,aug,wed,295.0,1,999,0,nonexistent,no
2,27,blue-collar,single,basic.9y,no,yes,no,telephone,jul,mon,236.0,2,999,0,nonexistent,no
3,30,services,married,unknown,no,no,no,telephone,may,wed,143.0,3,999,0,nonexistent,no
4,32,technician,married,university.degree,no,no,no,cellular,aug,thu,155.0,1,999,0,nonexistent,no

Memeriksa apakah ada file NaN atau baris yang tidak memiliki data. Diketahui bahwa terdapat 2 kolom yang memiliki missing values, yaitu job dan duration. Maka dari itu, dapat digunakan dropna untuk menghilangkan data yang hilang.

In [54]:
df.isna().sum()

age             0
job            10
marital         0
education       0
default         0
housing         0
loan            0
contact         0
month           0
day_of_week     0
duration       15
campaign        0
pdays           0
previous        0
poutcome        0
y               0
dtype: int64

In [55]:
df.dropna(inplace=True)

In [56]:
df.isna().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

Terdapat beberapa data atau kolom yang masih dalam bentuk objek, sedangkan untuk membagi data semuanya harus dalam bentuk angka, seperti int, float, dan bool. Maka dari itu, dengan menggunakan get_dummies, dapat membuat semua kolom yang berbentuk objek menjadi bool dan bisa dipakai untuk membagi data.

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8212 entries, 0 to 8236
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          8212 non-null   int64
 1   job          8212 non-null   object
 2   marital      8212 non-null   object
 3   education    8212 non-null   object
 4   default      8212 non-null   object
 5   housing      8212 non-null   object
 6   loan         8212 non-null   object
 7   contact      8212 non-null   object
 8   month        8212 non-null   object
 9   day_of_week  8212 non-null   object
 10  duration     8212 non-null   float64
 11  campaign     8212 non-null   int64
 12  pdays        8212 non-null   int64
 13  previous     8212 non-null   int64
 14  poutcome     8212 non-null   object
 15  y            8212 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 1.1+ MB

In [58]:
categorical = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
df = pd.get_dummies(df, columns=categorical)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8212 entries, 0 to 8236
Data columns (total 59 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            8212 non-null   int64
 1   duration                       8212 non-null   float64
 2   campaign                       8212 non-null   int64
 3   pdays                          8212 non-null   int64
 4   previous                       8212 non-null   int64
 5   y                              8212 non-null   object
 6   job_admin.                     8212 non-null   bool
 7   job_blue-collar                8212 non-null   bool
 8   job_entrepreneur               8212 non-null   bool
 9   job_housemaid                  8212 non-null   bool
 10  job_management                 8212 non-null   bool
 11  job_retired                    8212 non-null   bool
 12  job_self-employed              8212 non-null   bool
 13  job_services                   8212 non-null   bool
 14  job_student                    8212 non-null   bool
 15  job_technician                 8212 non-null   bool
 16  job_unemployed                 8212 non-null   bool
 17  job_unknown                    8212 non-null   bool
 18  marital_divorced               8212 non-null   bool
 19  marital_married                8212 non-null   bool
 20  marital_single                 8212 non-null   bool
 21  marital_unknown                8212 non-null   bool
 22  education_basic.4y             8212 non-null   bool
 23  education_basic.6y             8212 non-null   bool
 24  education_basic.9y             8212 non-null   bool
 25  education_high.school          8212 non-null   bool
 26  education_illiterate           8212 non-null   bool
 27  education_professional.course  8212 non-null   bool
 28  education_university.degree    8212 non-null   bool
 29  education_unknown              8212 non-null   bool
 30  default_no                     8212 non-null   bool
 31  default_unknown                8212 non-null   bool
 32  default_yes                    8212 non-null   bool
 33  housing_no                     8212 non-null   bool
 34  housing_unknown                8212 non-null   bool
 35  housing_yes                    8212 non-null   bool
 36  loan_no                        8212 non-null   bool
 37  loan_unknown                   8212 non-null   bool
 38  loan_yes                       8212 non-null   bool
 39  contact_cellular               8212 non-null   bool
 40  contact_telephone              8212 non-null   bool
 41  month_apr                      8212 non-null   bool
 42  month_aug                      8212 non-null   bool
 43  month_dec                      8212 non-null   bool
 44  month_jul                      8212 non-null   bool
 45  month_jun                      8212 non-null   bool
 46  month_mar                      8212 non-null   bool
 47  month_may                      8212 non-null   bool
 48  month_nov                      8212 non-null   bool
 49  month_oct                      8212 non-null   bool
 50  month_sep                      8212 non-null   bool
 51  day_of_week_fri                8212 non-null   bool
 52  day_of_week_mon                8212 non-null   bool
 53  day_of_week_thu                8212 non-null   bool
 54  day_of_week_tue                8212 non-null   bool
 55  day_of_week_wed                8212 non-null   bool
 56  poutcome_failure               8212 non-null   bool
 57  poutcome_nonexistent           8212 non-null   bool
 58  poutcome_success               8212 non-null   bool
dtypes: bool(53), float64(1), int64(4), object(1)
memory usage: 874.1+ KB

In [60]:
df.head()

,age,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,29,648.0,1,999,0,no,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,31,295.0,1,999,0,no,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
2,27,236.0,2,999,0,no,False,True,False,False,...,False,False,False,True,False,False,False,False,True,False
3,30,143.0,3,999,0,no,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
4,32,155.0,1,999,0,no,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

Setelah semua data telah dirapikan dan dibersihkan, selanjutnya dapat membagi data menjadi train dan test set. Train set memiliki sebanyak 80%, sedangkan dalam test terdapat 20%.

In [61]:
X = df.drop('y', axis=1)
y = df['y']

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Setelah data dibagi menjadi 2 set, maka dapat masuk model machine learning yang akan dipakai. Pada kasus ini, menggunakan RandomForestClassifier dan LogisticRegression. Sebelum menggunakan LogisticRegression, terdapat StandardScaler yang fungsinya untuk membuat rata-rata 0 dan variasi 1. Dari model yang telah digunakan, kedua model memiliki accuracy yang mirip. Tetapi, LogisticRegression memiliki accuracy yang sedikit lebih tinggi dari RandomForestClassifier. Maka dari itu, selanjutnya akan menyimpan model LogisticRegression ke dalam pickle agar dapat digunakan dalam code prediction.

In [63]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(random_state=42)
rf_clf.fit(X_train, y_train)
y_pred_rf = rf_clf.predict(X_test)
print("Random Forest Classifier:")
print(classification_report(y_test, y_pred_rf))

Random Forest Classifier:
              precision    recall  f1-score   support

          no       0.93      0.97      0.95      1489
         yes       0.55      0.33      0.41       154

    accuracy                           0.91      1643
   macro avg       0.74      0.65      0.68      1643
weighted avg       0.90      0.91      0.90      1643

In [64]:
print(accuracy_score(y_test, y_pred_rf))

0.9117468046256847

In [65]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [66]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(X_train_scaled, y_train)
y_pred_log_reg = log_reg.predict(X_test_scaled)
print("Logistic Regression:")
print(classification_report(y_test, y_pred_log_reg))

Logistic Regression:
              precision    recall  f1-score   support

          no       0.94      0.97      0.95      1489
         yes       0.57      0.36      0.44       154

    accuracy                           0.91      1643
   macro avg       0.75      0.67      0.70      1643
weighted avg       0.90      0.91      0.91      1643

In [67]:
print(accuracy_score(y_test, y_pred_log_reg))

0.9147900182592819

Simpan model LogisticRegression dan StandardScaler ke dalam pickle agar bisa dipakai dalam code prediction.

In [68]:
with open('log_reg.pkl', 'wb') as file:
    pickle.dump(rf_clf, file)

In [69]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

Nomor 4 

Link Video : https://binusianorg-my.sharepoint.com/personal/justinus_bensohur_binus_ac_id/_layouts/15/guestaccess.aspx?share=EUf4-swqwNhLgUTfrE5xdnkBELNNKR_mFiDfJJl4FA5YRg&nav=eyJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJPbmVEcml2ZUZvckJ1c2luZXNzIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXciLCJyZWZlcnJhbFZpZXciOiJNeUZpbGVzTGlua0NvcHkifX0&e=HvsrZ3